{% extends 'admin/base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1>WELCOME {{ current_user.name }} TO ADMINISTRATION WEBSITE!!!</h1>
{% else %}
<h1 class="text-center text-danger">DANG NHAP QUAN TRI</h1>
<div class="container">
    <form method="post" action="{{ url_for('signin_admin') }}">
        <div class="form-group">
           <label for="username">Username</label>
           <input type="text" name="username" class="form-control"
                  id="username" placeholder="Nhap username..." required />
       </div>
        <div class="form-group">
           <label for="password">Mat khau</label>
           <input type="password"
                  name="password"
                  class="form-control"
                  id="password"
                  placeholder="Nhap mat khau..." required />
       </div>

        <input type="submit" value="Dang nhap" class="btn btn-danger" />
    </form>
</div>
{% endif %}
{% endblock %}