{% extends 'layout/base.html' %}
{% block title %}Trang chu{% endblock %}
{% block content %}
<h1 class="subject">WELCOME</h1>
    {% if pages > 1 %}
    <ul class="pagination">
        {% for idx in range(1, pages+1) %}
        <li class="page-item"><a class="page-link" href="{{ url_for('home', page=idx) }}">{{ idx }}</a></li>
        {% endfor %}

    </ul>
    {% endif %}
    <div class="row">
        {% for b in books %}
        <div class="col-md-3 col-xs-12">
            <div class="card">
              <img class="card-img-top" src="{{ url_for('static', filename=b.image) }}" alt="{{ b.name }}">
              <div class="card-body">
                <h4 class="card-title">{{ b.name }}</h4>
                <p class="card-text">{{ "{:,.1f}".format(b.price) }} VND</p>
                <a href="#" class="btn btn-primary">Dat hang</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
